* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #002339;
    color: #fff;
}

.container {
    margin: 10% auto;
    width: 90%;
    max-width: 700px;
    padding: 20px;
    box-sizing: border-box;
}

.display {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
}

.container h1 {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
}

.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display img {
    width: 25px;
    cursor: pointer;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 20px;
    width: 100%;
}

.container button img {
    width: 24px;
    margin-right: 10px;
}

.container button {
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .container h1 {
        font-size: 28px;
    }

    .display {
        padding: 15px;
        align-items: center;
        justify-content: space-between;
    }

    .display input {
        font-size: 18px;
        width: calc(100% - 40px); /* Adjusted width to leave space for the icon */
    }

    .display img {
        width: 20px;
        margin-left: 10px;
    }

    .container button {
        font-size: 18px;
        padding: 12px 20px;
    }
}

@media (max-width: 480px) {
    .container h1 {
        font-size: 24px;
    }

    .display {
        padding: 12px;
        align-items: center;
        justify-content: space-between;
    }

    .display input {
        font-size: 16px;
        width: calc(100% - 35px); /* Adjusted width to leave space for the icon */
    }

    .display img {
        width: 18px;
        margin-left: 5px;
    }

    .container button {
        font-size: 16px;
        padding: 10px 18px;
    }
}
